/* -----TYPOGRAPHY----- */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

/* ---------CSS RESET--------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------ROOT STYLES--------- */
:root {
  font-size: 16px;
  font-family: "Young Serif", serif;

  /* CSS VARIABLES */
  --border-radius: 15px;
  --white: hsl(0, 0%, 90%);
  --black: hsl(179, 100%, 0%);
  --newbie: rgb(106, 190, 205);
  --junior: rgb(170, 215, 66);
  --intermediate: rgb(241, 182, 4);
  --advanced: rgb(244, 137, 37);
}

/* ---------STYLES---------*/
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
}

main {
  gap: 1rem;
  width: 100%;
  display: flex;
  padding: 2rem;
  max-width: 768px;
  flex-direction: column;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

img {
  width: 100%;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

ul {
  gap: 1rem;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

li {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
}

a {
  width: 100%;
  padding: 30px;
  display: block;
  color: inherit;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

#newbie {
  color: var(--newbie);
  border: 2px solid var(--newbie);
}

#newbie:hover {
  border: none;
  cursor: pointer;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--newbie);
}

#junior {
  color: var(--junior);
  border: 2px solid var(--junior);
}

#junior:hover {
  border: none;
  cursor: pointer;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--junior);
}

#intermediate {
  color: var(--intermediate);
  border: 2px solid var(--intermediate);
}

#intermediate:hover {
  border: none;
  cursor: pointer;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--intermediate);
}

#advanced {
  color: var(--advanced);
  border: 2px solid var(--advanced);
}

#advanced:hover {
  border: none;
  cursor: pointer;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--advanced);
}

@media only screen and (min-width: 768px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
